quiz-game-start/.idea
quiz-game-start/__pycache__
.DS_Store
Turtle/Day-18-Turtle-shape/.idea
Turtle/Day-18-Random-Walk/.idea/inspectionProfiles
Turtle/Day-18-Random-Walk/.idea
Turtle/draw-spirograph/.idea
Turtle/hirst-painting-project/.idea
Turtle/Day-19-Start/.idea
Turtle/Day-19-Turtle-Race-Game/.idea
Turtle/Snake-Game/.idea
Turtle/Snake-Game/__pycache__
Turtle/Snake-Game
Turtle/turtle-crossing/.idea
Turtle/turtle-crossing/__pycache__
Turtle/Mail Merge Project Start/.idea
Turtle/Mail Merge Project/.idea
